body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
h1 {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.timezone-display--main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  width: 100%;
  min-height: 18rem;
  border: 1px dashed red;
  margin-top: 138px;
}
.main-timezone {
  display: flex;
  border: 1px dashed red;
  position: absolute;
  max-width: 30rem;
  width: 100%;
  min-height: 12rem;
  align-items: center;
  justify-content: center;
}

.main-timezone__location {
  border: 1px dashed red;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
}
.main-timezone__time {
  border: 1px dashed red;
  font-size: 5em;
  position: absolute;
  display: flex;
}
.main-timezone__date {
  border: 1px dashed red;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.search-bar {
  --size: 40px;
  position: absolute;
  bottom: 0;
  border: 1px dashed red;
  display: flex;
  padding: 3px;
  height: calc(var(--size) - 10px);
  width: calc(var(--size) - 10px);
  border-radius: 50px;
  transition: width 300ms ease-in-out;
  overflow: hidden;
}
.search-bar__input {
  flex-grow: 1;
  font-size: 16px;
  border: 0;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  outline: 0;
}

.search-bar__button {
  font-size: 4em;
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  transition: background 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar:focus-within {
  outline: 0;
  width: 200px;
  .search-bar__input {
    opacity: 1;
    width: 150px;
    cursor: initial;
    :focus {
      outline: 0;
    }
  }
  .search-bar__button {
    background: red;
    color: white;
    :hover,
    :focus {
      outline: 0;
      border: 0;
      text-shadow: 0 0 10px gray;
    }
  }
}

.timezone-display--others {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px dashed red;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.others-timezone {
  display: flex;
  border: 1px dashed red;
  align-items: center;
  justify-content: center;
  margin: 2em;
  max-width: 22em;
  width: 100%;
  position: relative;
  min-height: 9em;
}
.others-timezone > div {
  border: 1px dashed red;
}

.others-timezone__location {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em;
}

.others-timezone__date {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
}

.others-timezone__time {
  display: flex;
  font-size: 3.5em;
}

.cross-icon{
  position:absolute;
  top:0;
  right:0;
  border:1px dashed red;
}
