body {
 display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.timezone-display{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 146px 300px;
  border: 1px dashed red;
  margin-top:138px;
}
#main-timezone {
  display: flex;
  border: 1px dashed red;
  position: absolute;
  padding: 100px 300px;
  align-items: center;
  justify-content: center;
}

#main-timezone_location {
  border: 1px dashed red;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
#main-timezone_time {
  border: 1px dashed red;
  font-size: 70px;
  position: absolute;
}
#main-timezone_date {
  border: 1px dashed red;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#add-button{
  position: absolute;
  bottom: 0;
}
